/*Resetear css*/
* {
    margin: 0;
    padding: 0;
}

#texto0 {
    border-top:solid 5px red;	border-right:solid 10px cyan;
    border-bottom:solid 7px green;
    border-left:solid 12px yellow;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: #008000;
    font-size: 20px;
}